<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WeatherNow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

        {{>header}}

    <div class="content-container">

        <form>
            <input type="text" id="cityInput" name="city" placeholder="Enter city name" required>
            <button type="submit" id="getWeatherBtn">Get Weather</button>
        </form>


        <div class="weather-info">
            <h2 id="cityName"></h2>
            <p id="first-message"></p>
            <p id="location-message"></p>
            <p id="temp-message"></p>
            <p id="condition-message"></p>
            <p id="date-message"></p>
        </div>
    </div>
    <script src="/js/showWeather.js"></script>

        {{>footer}}

</body>

</html>